body { font-family: Arial, sans-serif; padding: 20px; }
input, button { padding: 8px; margin: 5px 0; }
.video-box { cursor: pointer; padding: 10px; border: 1px solid #ccc; margin: 5px; }
.video-box:hover { background-color: #f0f0f0; }
.video-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}
.video-item:hover {
    background-color: #f0f0f0;
}

#comments-playground {
    position: relative;
}

#commentsList {
    transition: width 0.3s ease;
    float: left;
}

#rulesDrawer {
    position: absolute;  
    top: 5vh; 
    right: 0;
    width: 30vw;
    height: 85vh;
    /* border-left: 1px solid #ccc; */
    background: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    display: none;
}

.chip {
    display: inline-block;
    padding: 5px 10px;
    margin: 4px;
    background-color: #e0e0e0;
    border-radius: 16px;
    cursor: pointer;
}

.chip.selected {
    background-color: #2196f3;
    color: white;
}