<!doctype html>
<html>
  <head>
    <title>CommenTidy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
  </head>
  <body>
    <div id="first-section">
      <div class="youtube-url-wrapper">
        <div class="youtube-url-form">
          <div class="container">
            <!-- <input  type="text" name="text" class="input" placeholder="https://youtube.com/watch?v=..."> -->
            <input required="" type="text" class="input" id="videoUrlInput">
            <label class="label">Enter a Youtube Url</label>
          </div>
          <!-- From Uiverse.io by aryamitra06 --> 
          <div id="yt-url-loader" class="loader" style="display: none;">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
          <button onclick="submitVideoUrl()">Submit</button>
        </div>
      </div>
      
      <div class="youtube-videos-wrapper">
        <h2>Select a Video to Analyse Comments</h2>
        <div id="videoList" class="video-list"></div>
      </div>
    </div>
    <div id="second-section" style="display: none;">
      <h2>Video Statistics</h2>
      <div class="category-charts">
        <div class="sentiment-container">
          <span id="sentimentValue">0.00</span>
          <input type="range" id="sentimentRange" min="-1" max="1" step="0.01" disabled>
          <label for="sentimentRange">Average Sentiment Score</label>
        </div>

        <div id="pieChart" style="width:40vw; height:300px;"><canvas id="pieChart"></canvas></div>
        <div class="toxicity-container">
          <span id="toxicityValue"></span>
          <input type="range" id="toxicityRange" min="0" max="1" step="0.01" disabled>
          <label for="toxicityRange">Average Toxicity Score</label>
        </div>
      </div>
      <div class="sub-catergorization-btn-container">
          <button id="subcategorizeBtn" onclick="runSubcategorization()" style="display: none;">Subcategorize Comments</button>
          <br>
          <!-- From Uiverse.io by aryamitra06 --> 
          <div id="subcategorization-loader" class="loader" style="display: none;">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
      </div>
    </div>
    
    <div id="third-section" style="display: none;">
      <div id="subcategory-stats-div">
        <h2>Subcategory Statistics</h2>
        <div id="treemap"></div>
      </div>
      
      <div id="keyword-stats-div">
        <h2>Top Keywords</h2>
        <div id="keywordBarChart"></div>
      </div>

      <div class="show-all-comments-btn-container">
        <button id="showAllCommentsBtn" onclick="showAllComments()" style="display: none;">Show All Comments</button>
      </div>
    </div>
    
    <div id="comments-playground" style="display: none; height:90vh; border:1px solid #ccc; padding:10px; border-radius: 12px; background-color: #3d3d3d;">
      <div style="height:5vh; display:flex; justify-content:space-between; align-items:center;">
        <div class="comment-sorting-container">
          <select id="categorySelect">
            <option value="">Select Category</option>
          </select>

          <select id="subcategorySelect">
            <option value="">Select Subcategory</option>
          </select>

          <button onclick="sortComments()">Sort</button>
        </div>
        <div>
          <button id="show-rules-btn" onclick="showRules()">Show Rules</button>
          <button id="close-rules-btn" onclick="closeRules()" style="display: none;">Close Rules</button>
          <button id="close-summary-btn" onclick="closeSummary()" style="display: none;">Close Summary</button>
        </div>
      </div>

      <div id="commentsList" style="height:85vh; overflow-y:auto; margin-top:10px; width: 100%;">
      </div>

      <div id="summaryDrawer" style="display: none; position: absolute; right: 0; top: 7vh; width: 35%; height: 100%; background: #282828; padding: 10px;">
        <h3>Summary based on Category</h3>
        <p id="categorySummary"></p>
        <h3>Summary based on Sub-Category</h3>
        <p id="subcategorySummary"></p>
      </div>

      <div id="rulesDrawer">
        <h3>Rules</h3>
        <div class="rules-section">
          <h4>Select the Categories to Block</h4>
          <div id="categoryChips"></div>
        </div>

        <div class="rules-section">
          <h4>Select the Subcategories to Block</h4>
        <div id="subcategoryChips" style="height: 250px; overflow-y: auto;"></div>
        </div>
        
        <div class="rules-section">
          <h4>Enter the words to block</h4>
          <br>
          <div class="container">
              <input required type="text" class="input" id="wordInput">
              <label class="label">Example: worst</label>
          </div>
          <!-- <input type="text" id="wordInput" placeholder="Type a word and press Enter"> -->
           <br><br>
          <div id="wordList"></div>
        </div>

        <div class="rules-section">
          <h4>Enter a rule the comment must follow</h4>
          <br>
          <div class="container">
              <input required type="text" class="input" id="phraseInput">
              <label class="label">Example: No troll comments on physical appearance of anyone</label>
          </div>
          <!-- <input type="text" placeholder="Type a phrase and press Enter"> -->
           <br><br>
          <div id="phraseList"></div>
        </div>
        
        <div>
          <button onclick="createRules()">Add Rules</button>
          <button onclick="applyRules()" style="display: none;">Apply Rules</button>
          <div id="rules-loader" class="loader" style="display: none;">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
